html{
    font-family: 'Krub', sans-serif;
}

body{
    display: flex;
    padding: 20px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #c2c2c2;
    -webkit-font-smoothig: antialiased;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
  }
  
  .title h1 {
    display: flex;
    font-size: 150px;
    color: #888;
    flex-direction: column;
    margin: 0;
  }

  .title h2 {
    margin: 0;
    display: flex;
    font-size: 30px;
    color: #666;
    flex-direction: column;
    font-weight: 400;
  }
  
  a {
    display: flex;
    text-decoration: none;
    color: #666;
    border: 2px solid #666;
    align-items: center;
    justify-content: center;   
    transition: border 0.4s;
  }
  
  a:visited {
    color: #666;
  }
  
  a:hover {
    color: whitesmoke;
    border: 2px solid whitesmoke;
  }

  h2 {
    margin: 10px 15px;
    font-weight: 400;
    transition: 0.4s;
  }

  a:hover h2{
    transform: scale(1.05, 1);
  }

  @media (max-width: 400px) {
    .title h2 {
      font-size: 22px;
    }

    h2 {
      font-size: 20px;
    }

}