html{
    font-family: 'Krub', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: #c2c2c2;
    -webkit-font-smoothig: antialiased;
}



a{
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: transparent;
}

a:hover{
    color: black;
}

/* a:visited {
    color: black;
} */

h1 {
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-top: 30px;
    font-weight: 500;
    color: #444;
    font-size: 50px;
}

body .layer {
    display: flex;
    width: 100%;
    flex: 1;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 136, 0, 0.6);
}

body .grid {
    display: inline-grid;
    transform: translate3d(0, -100px, 0);
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-evenly;
    align-items: center;
    /* justify-items: center; */ 
    grid-gap: 20px;
    margin: 50px 0;
}


.inicio {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 820px;
    transform: translate3d(-240px, 0px, 0);
    align-items: flex-start;
    justify-content: initial;
    text-align: justify;
    text-justify: inter-word;
}

.inicio h2 {
    color: #555;
    font-weight: bold;
    font-size: 32px;
    margin: 20px 0  ;
    text-align: start;
    font-weight: 500;
}

.inicio p {
    transform: translate3d(40px, -38px, 0);
    margin-top: 28px;
    color: #666;
}

.inicio p a {
    text-decoration: underline;
    transition: 0.2s;
}

.inicio ul a {
    text-decoration: underline;
    transition: 0.2s;
    color: #666;
}

.inicio ul a:hover {
    color: black;
}

.inicio ul li a:hover {
    transition: 0.2s;
}

.inicio ul li {
    color: #666;
    transform: translate3d(40px, 0px, 0);
}

h5 {
    margin-top: 18px;
    font-weight: 500;
    color: #444;
    font-size: 45px;
}

body .bloco {
    display: flex;
    border: 2px solid #999;
    transition: 0.4s;
    outline: none;
}

div .bloco a .introducao {
    display: flex;
    height: 200px;
    width: 300px;
    flex-direction: column;
    transition: 0.4s;
    background-color: #c2c2c2;
}

div .bloco .abrir {
    background-color: #c2c2c2;
    border-top: 2px solid #999; 
    transition: 0.4s;
}

div .bloco:hover {
    border: 2px solid #000;
}

div .bloco .abrir h3{
    transition: 0.4s;
}

div .bloco:hover .abrir {
    border-top: 2px solid #000;
}

div .bloco .abrir img {
    rotation-point:50% 50%;
    transition: 0.4s;
    /* transform: skewY(20deg); */
}

div .bloco:hover .abrir img {
    transform: translateX(-30px);
}

div .bloco:hover .abrir h3 {
    color: black;
}

div .bloco a div h2 {
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
}

div .bloco a div p {
    font-weight: 200;
    color: #000;
    margin: 20px 20px 0 20px;
    text-justify: inter-word;
}

div .bloco a div p b {
    font-weight: 500;
}

div .bloco a h4 {
    color: #000;
    font-weight: 200;
    margin: 20px;
}

div .bloco .abrir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

div .bloco .abrir img {
    width: 25px;
    height: 25px;
    transform: translateX(-50px)
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 70px;
    border: 0;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    background-color: #c2c2c2;
}

footer {
    display: flex;
    justify-content: space-around;   
}


footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style:none;
    padding: 0;
}

footer ul li a {
    display: flex;
    flex: 1;
    margin: 50px 20px;
}

footer ul li a img {
    height: 40px;
    width: 40px;
    transition: 0.3s;
}

footer ul li a img:hover {
    opacity: 70%;
}





@media (max-width: 1250px) {
    body {
        align-items: center;
        text-align: center;
    }
    
    h1{
        transform: translateX(0px);
    }

    body .grid {
        grid-template-columns: 1fr 1fr 1fr;

    }

    .inicio {
        justify-content: center;
        align-items: center;
        width: 90%;
        transform: translate3d(0px, 0px, 0);
        text-align: justify;
    }

    .inicio h2 {
        font-size: 32px;
        margin: 20px 0  ;
        text-align: center;
    }

    .inicio p {
        transform: translate3d(0px, 0px, 0);
        margin-top: 28px;
    }

    .inicio ul li {
        transform: translate3d(0px, 0px, 0);
    }
}

@media (max-width: 980px) {
    body {
        align-items: center;
        text-align: center;
    }

    h1{
        transform: translateX(0px);
    }

    body .grid {
        grid-template-columns: 1fr 1fr;

    }

    .inicio {
        justify-content: center;
        align-items: center;
        width: 90%;
        transform: translate3d(0px, 0px, 0);
        text-align: justify;
    }

    .inicio h2 {
        font-size: 32px;
        margin: 20px 0  ;
        text-align: center;
    }
    
    .inicio p {
        transform: translate3d(0px, 0px, 0);
        margin-top: 28px;
    }
    
    .inicio ul li {
        transform: translate3d(0px, 0px, 0);
        margin-left: 10px;
    }

}

@media (max-width: 500px) {
    body {
        align-items: center;
        text-align: center;
    }
    
    h1{
        transform: translateX(0px);
    }

    .inicio {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;
        transform: translate3d(0px, 0px, 0);
        align-items: center;
        justify-content: center;
        text-align: justify;
        text-justify: inter-word;
    }

    .inicio h2 {
        font-size: 32px;
        margin: 20px 0  ;
        text-align: center;
    }
    
    .inicio p {
        transform: translate3d(0px, 0px, 0);
        margin-top: 28px;
    }

    .inicio ul li {
        transform: translate3d(0px, 0px, 0);
    }

    body .grid {
        grid-template-columns: 1fr;

    }
}


@media (min-width: 2200px) {
    body {
        align-items: center;
        text-align: center;
    }

    body .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 88px;
    }

}


